html, body {
  margin: 0px;
  padding: 0px;
}

.wrap {
  position: fixed;
  width: 20%;
  padding: 10%;

  bottom: 0;
  right: 0;
}

#corner-bubble {
  position: absolute;
  background-size: cover;
  background-image: url("assets/corner-bubble.png");
  padding: 14% 0 0 15%;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: 'Indie Flower', cursive;
  font-size: 7.5vw;
  line-height: 7vw;
  text-align: center;
}

@media (min-width: 850px) {
  .wrap {
    width: 325px;
    height: 169px;
    padding: 0;
  }

  #corner-bubble {
    padding: 50px 0 0 57px;
    font-size: 64px;
    line-height: 60px;
  }
}
